<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns#">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="oneyon">
    <title>oneyon - Gestion Commercial - Facture - Devis - Client - Stock - Comptabilité</title>
    <meta name="description" content="oneyon - Gestion commercial pour les autoentrepreneur"/>

    <!-- Bootstrap core CSS -->
    <link href="{{ base_url() }}/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ base_url() }}/img/logo.png"/>
    <!-- Custom styles for this template -->
    <link href="{{ base_url() }}/css/style.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="120x120" href="{{ base_url() }}/img/apple-touch-icon-120x120-precomposed.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ base_url() }}/img/apple-touch-icon-152x152-precomposed.png" />
    <!-- jQuery library -->
    <script src="{{ base_url() }}/js/bootstrap.min.js"></script>
    <script src="{{ base_url() }}/js/jquery-3.3.1.min.js"></script>
    <!-- Icone -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Balise Canonical -->
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Accueil - oneyon" />
    <meta property="og:url" content="https://www.oneyon.com/" />
    <meta property="og:site_name" content="oneyon" />
    <meta property="og:image" content="https://www.oneyon.com/img/logo.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="oneyon" />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <!-- Balise DNS -->
    <link rel="dns-prefetch" href="https://www.oneyon.com/">
    <link rel="dns-prefetch" href="https//www.oneyon.com/">

    <noscript>Your browser does not support JavaScript!</noscript>



{% block content %}{% endblock %}


{% include 'templates/partials/foot.twig' %}
